@import "tailwindcss";

@layer base {
  body {
    letter-spacing: var(--tracking-normal);
    }
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: ; */
  font-style: normal;
}

body {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}